<div class="container">

  <!-- <div ng-include="'components/navbar/navbar.html'"></div> -->

  <div class="row">
    <div class="large-12 large-text-center columns">
      
      <h1>timp.co</h1>
      <h3 class="subheader">Temporary IMage Placeholder</h3>
      <br/>
      <div class="row collapse">
        <div class="large-12 large-centered columns">
          <input type="text" name="link" readonly onClick="this.select();"
          value="{{ fullLink() }}"/>
        </div>
      </div>

      <br/>

      <div class="row">
        <div class="large-9 columns">
          <span class="label">Width = 
            <input ng-model="width" size="3" ng-keydown="keyPress($event, 'width')" /> px
          </span>
          <slider floor="1" ceiling="1000" step="1" precision="1" ng-model="width"></slider>
          <span class="label">Height = 
            <input ng-model="height" size="3" ng-keydown="keyPress($event, 'height')" /> px
          </span>
          <slider floor="1" ceiling="1000" step="1" precision="1" ng-model="height"></slider>
        </div>
        <div class="large-3 columns">
          Background color
          <div>
            <input minicolors="" type="text" ng-model="bgcolor" size="7" />
          </div>
          Text color
          <div>
            <input minicolors="" type="text" ng-model="textcolor" size="7" />
          </div>
          <div>
            <input type="text" ng-model="text" placeholder="Image text" />
          </div>
          
        </div>

        <div class=""><img src="{{ fullLink() }}" /></div>
    </div>
  </div>

</div>
